{% extends "application/base.html" %}
{% block content %}
<div style="width: 800px; margin-left: auto; margin-top: 50px; margin-right: auto; background-color: #F0F0F0; padding: 10px; -moz-border-radius: 20px;">
    <div style="margin-left: 50px; font-size: 120%; width:300px; float: left; font-weight: bold;">
        Welcome to GRRM database
        <ul>
            <li><a href="/search/">Search the Database</a></li>
            <li><a href="/runs/">Browse All Runs</a></li>
        </ul>
    </div>
    <div style="width: 350px; padding-left: 20px; float: left; border-left: 1px solid lightgray; font-weight: bold;">
        Project hosted at<br />
        <a href="http://nii.ac.jp">National Institute of Informatics</a> - Tokyo - Japan<br />
        Running on <a href="http://wavemol.org">Wavemol database engine</a><br />
        <br />
        Project Leader : Associate Professor <a href="http://research.nii.ac.jp/~hsatoh/index-e.html">Hiroko Satoh</a><br />
        Assistant Professor/Developer : Dr. <a href="http://ForTheScience.org">Stefano Borini</a><br />
    </div>
    <div style="clear : both;"> </div>
</div>
{% endblock %}

