<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>COST Molecular Annotation Project - 1.0.0</title>
    <link rel="stylesheet" href="/css/base.css" />
    {% block stylesheet %}{% endblock %}
    {% block javascript %}{% endblock %}
</head>

<body>
    <div id="header">
        <h1>COST Molecular Annotation Project - <span class="version">1.0.0</span></h1>
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>

